pkgbase = python-sphinxcontrib-serializinghtml
	pkgdesc = Sphinx extension which outputs "serialized" HTML files (json and pickle)
	pkgver = 1.1.10
	pkgrel = 3
	url = https://github.com/sphinx-doc/sphinxcontrib-serializinghtml
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-serializinghtml.git#tag=1.1.10
	b2sums = 5622d9c45ed753dc3ac62881b7a72cdc7c2c55a1eaa13cef2b1db3b8c3b9348409e6d2e23dc9b4c877b68d8a4df5efc8053880230ec5c0fddd533b3dc23834df

pkgname = python-sphinxcontrib-serializinghtml
